{% load i18n %}
<div id="loading-modal{% if modal_id %}-{{ modal_id }}{% endif %}" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header modal-header-change">
        <i class="fa fa-info-circle"></i> {{ loading_text }}...
      </div>
      <div class="modal-body modal-body-change">
        <div class="progress progress-striped active">
          <div style="width: 100%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="100" role="progressbar" class="progress-bar progress-bar-info">
            {% comment %}<span class="sr-only">100% Complete (success)</span>{% endcomment %}
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div>
</div>
