
.check_blockchain_lbl {
    padding: 7px 0 0 20px;
    font-size: 14px;
    display: inline-block;
}

.check_blockchain_lbl label.text-success {
    color: #1ab394;
}

#see_bc_consumption {
    color: #6baad2;
}

@media(max-width: 1987px) {
    .check_blockchain_lbl {
        padding: 0px;
    }
}