
  <link rel="stylesheet" type="text/css" href="{% static 'app/css/meter/meter_ppa_contract.css' %}">


{% if contract.bc_contract_info %}
  <div class="ibox float-e-margins">
    <div class="ibox-title">
        <h4 class="font-bold no-margins">{% trans "Blockchain PPA" %}
          <div class="check_blockchain_lbl">
            {% if contract.bc_signed %}
                <label class="control-label text-success"><i class="fa fa-pencil" aria-hidden="true"></i> {% trans "Verificado" %}</label>
                <a id="see_bc_contract" class="m-r-sm">
                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                </a>
            {% else %}
                <label class="control-label text-warning"><i class="fa fa-clock-o " aria-hidden="true"></i> {% trans "Pendiente firma" %}</label>
            {% endif %}
          </div>
        </h4>
    </div>
    {% if contract.bc_signed %}
      <div class="ibox-content" >
          <div class="text-center">
            <button {% if should_register_data_in_blockchain %} id="ppa_consumption" {% else %} id="see_bc_consumption" {% endif %}
                class="btn btn-primary btn-sm" {% if not should_register_data_in_blockchain %} title='Consumo del mes anterior ya está registrado en blockchain '{% endif %}>
                <i class="fa fa-link"></i>
                <span>{% trans "Sincronizar consumo" %}</span>
            </button>
          </div>
          <div  class="text-center">
            <button class="btn btn-primary btn-sm" id="validate_ppa"><i class="fa fa-check-circle"></i>
                {% trans "Validar en blockchain" %}
              </button>
          </div>
      </div>
    {% endif %}
  </div>
        {% endif %}



    {% if contract %}
        $('#see_bc_contract').click(function() {
            var contract_json_data = JSON.parse($("#id_bc_contract_info").val());

            swal({
                title: '{% trans "Contrato Verificado" %}',
                html: true,
                text: '{% trans "Contrato verificado satisfactoriamente en la blockchain" %}' + "</br></br>"
                        + "<div style='text-align: left;'>"
                        + "<small><strong>Block Number</strong> " + contract_json_data["blockNumber"] + "</small></br></br>"
                        + "<small><strong>From</strong> " + contract_json_data["from"] + "</small></br></br>"
                        + "<small><strong>gasUsed</strong> " + contract_json_data["gasUsed"] + "</small></br></br>"
                        + "</div>",
                type: "info",
                showCancelButton: false,
                confirmButtonColor: "#003052",
                confirmButtonText: "{% trans 'Aceptar' %}",
                closeOnConfirm: true
              });
        });

    {% endif %}

    {% if not should_register_data_in_blockchain %}
        $('#see_bc_consumption').click(async function() {

            const ppa_totals = await PPA.getPPATotals('{{contract.bc_contract_info.events.PPACreated.returnValues.ppaId}}');
            swal({
                title: '{% trans "Consumo en blockchain" %}',
                html: true,
                text: '{% trans "Consumo del mes anterior ya esta registrado en blockchain" %}' + "</br></br>"
                        + "<div style='text-align: left;'>"
                        + "<small><strong>Consumo total registrado:</strong> " + ppa_totals.balanceConsumed + "</small></br></br>"
                        + "<small><strong>Última fecha de registración:</strong> " + '{{ contract.bc_last_registered_consumption_date|date:'Y-m-d' }}' + "</small></br></br>"
                        + "</div>",
                type: "info",
                showCancelButton: false,
                confirmButtonColor: "#003052",
                confirmButtonText: "{% trans 'Aceptar' %}",
                closeOnConfirm: true
            });
        });
    {% endif %}



$('#ppa_consumption').on('click', function(){
    const ppaId = '{{ contract.bc_contract_info.events.PPACreated.returnValues.ppaId }}'
    const meter_id = '{{ selected_meter.id }}'
    const url = DjangoUrl.reverse('core.meters:get_consumption', {'meter_id': '{{ selected_meter.id }}'});
    $.get(url)
    .done(function (data) {
        console.log('Beginning of blockchain implementation');
        console.log('Saving consumption in blockchain');
        PPA.saveEnergy(meter_id, data.month_consumption, 1).then((response) => {
          console.log('Consumption saved');
          const ppa_totals = PPA.getPPATotals(ppaId);
          console.log(ppa_totals);
          console.log('End of blockchain implementation');
          location.reload();
        });
      })
      .fail(function (e) {
        debugger;
        console.log('error: ' + e);
      });
});


  $('#validate_ppa').on('click', async function(){
    const data = JSON.parse($('#id_bc_contract_info').val());
    const bc_data = await PPA.getPPADetails(data.events.PPACreated.returnValues.ppaId);
    check_validation_bc(bc_data)
  });

  function check_validation_bc(bc_data) {
    const THOUSAND_SEP = '{{ THOUSAND_SEPARATOR }}';
    const user =  PPA.account.toLocaleLowerCase();
    const genAnnualMin = parseInt(parseFloat($('#contract-form input#id_min_yearly_generation').val().replace(THOUSAND_SEP, "")) * (parseFloat($('#contract-form input#id_min_energy_purchase_ratio').val().replace(THOUSAND_SEP, "")) / 100));
    const genAnnualMax = parseInt(parseFloat($('#contract-form input#id_min_yearly_generation').val().replace(THOUSAND_SEP, "")) * ((parseFloat($('#contract-form input#id_min_energy_purchase_ratio').val().replace(THOUSAND_SEP, "")) + parseFloat($('#contract-form input#id_over_min_energy_ratio').val().replace(THOUSAND_SEP, ""))) / 100));
    const genPriceUnder = parseInt(parseFloat($('#contract-form input#id_over_min_price').val().replace(THOUSAND_SEP, ""))).toString();
    const genPriceNormal = parseInt(parseFloat($('#contract-form input#id_energy_price').val().replace(THOUSAND_SEP, ""))).toString();
    const genPriceOver = parseInt(parseFloat($('#contract-form input#id_excess_energy_price').val().replace(THOUSAND_SEP, ""))).toString();
    const userAccount = bc_data['owners'][0].toLocaleLowerCase();
    if (user == userAccount && parseInt(bc_data['prices'][0]) == genPriceUnder
        && parseInt(bc_data['prices'][1]) == genPriceNormal && parseInt(bc_data['prices'][2]) == genPriceOver
        && parseInt(bc_data['generationRange'][0]) == genAnnualMin && parseInt(bc_data['generationRange'][1]) == genAnnualMax) {
      swal({
            title: '{% trans "Validación" %}',
            html: true,
            text: '{% trans "Los datos son validos" %}',
            type: "info",
            showCancelButton: false,
            confirmButtonColor: "#003052",
            confirmButtonText: "{% trans 'Aceptar' %}",
            closeOnConfirm: true
        });
    } else {
      const url = DjangoUrl.reverse('core.meters:create_ppa_alert', {});
      $.post(url,
        {
          "csrfmiddlewaretoken" : '{{ csrf_token }}',
          "contract_id" : '{{ contract.id }}',
          "alert_type" : 'PPAModifiedContractBCAlert'
        }
      ).done((data) => {
        swal({
          title: '{% trans "Validación" %}',
          html: true,
          text: '{% trans "Los datos NO son validos, se ha creado una alerta" %}',
          type: "info",
          showCancelButton: false,
          confirmButtonColor: "#003052",
          confirmButtonText: "{% trans 'Aceptar' %}",
          closeOnConfirm: true
        });
      });

    }
  }

{% endblock %}
